[alias]
	a = add
	c = commit -m
	s = !git status
	ck = checkout
	wip = !git a . ; git c 'feat: wip :zap:' ; git push
	undo-last-commit = reset HEAD~
	l = log --color --graph --pretty=frmat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  deletemerged = !git branch --merged | grep -v \\* | xargs git branch -d
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Yuri
	email = yurifl03@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFuBzaZMCYHKAenPgIdOLTKKRQtNRgGgWien86lg4mUh
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
